:root {
  /* Drop Shadows */
  --shadow-none: none;
  --shadow-xs: 0px 0px 0px 0px rgba(0, 0, 0, 0),
    2px 0px 0px 0px rgba(0, 0, 0, 0.16);
  --shadow-sm: 0px 4px 8px 0px rgba(0, 0, 0, 0),
    4px 0px 0px 0px rgba(0, 0, 0, 0.16);
  --shadow-md: 0px 6px 12px 0px rgba(0, 0, 0, 0),
    8px 0px 0px 0px rgba(0, 0, 0, 0.16);
  --shadow-lg: 0px 8px 16px 0px rgba(0, 0, 0, 0),
    16px 0px 0px 0px rgba(0, 0, 0, 0.16);
  --shadow-xl: 0px 12px 24px 0px rgba(0, 0, 0, 0),
    24px 0px 0px 0px rgba(0, 0, 0, 0.16);

  /* Focus Shadows */
  --shadow-focus: 0 0 0 3px rgba(255, 153, 0, 0.5);
  --shadow-focus-primary: 0 0 0 3px rgba(14, 58, 108, 0.2);
  --shadow-focus-destructive: 0 0 0 3px rgba(217, 43, 43, 0.2);
}
